{% extends 'base.html.twig' %}

{% block title %}
    {% if(ajout) %}
        Ajout
    {% else %}
        Edition
    {% endif %}
{% endblock %}

{% block header %}
    <a href="{{ path('admin_category_index') }}"><button>Liste des cat&eacute;gories (admin)</button></a>
{% endblock %}

{% block content %}
    {{ form_start(form) }}
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        {{ form_rest(form) }}
        <button type="submit">
            {% if(ajout) %}
                Ajouter
            {% else %}
                Enregistrer
            {% endif %}
        </button>
    {{ form_end(form) }}
{% endblock %}
