{% extends 'base.html.twig' %}

{% block title %}
    {% if(ajout) %}
        Ajout d'une cat&eacute;gorie
    {% else %}
        Edition d'une cat&eacute;gorie
    {% endif %}
{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_category_index') }}">
        <img class="buttonIconReturn" src="{{ asset('/ressources/images/IconReturn.png') }}" height="63" width="63" title="Retour"/>
    </a>
{% endblock %}

{% block content %}
    <div class="formAddEditCategory">
        {{ form_start(form) }}
            Nom de la cat&eacute;gorie
            {{ form_widget(form.name) }}

            <hr width="100%"/>

            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {{ form_rest(form) }}
            <button type="submit">
                {% if(ajout) %}
                    Ajouter
                {% else %}
                    Enregistrer
                {% endif %}
            </button>
        {{ form_end(form) }}
    <div>
{% endblock %}
