{% extends 'base.html.twig' %}

{% block title %}Liste annonces{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_category_add') }}">
        <img class="buttonIconAdd" src="{{ asset('/ressources/images/IconAdd.png') }}" height="63" width="63" title="Ajouter une cat&eacute;gorie"/>
    </a>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Libell&eacute;</th>
            <th>Actions</th>
        </tr>
        {% for category in pager.currentPageResults %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>{{ category.getName() }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', { 'id': category.getId()}) }}">
                        <img class="ButtonIconEdit" src="{{ asset('/ressources/images/IconEdit.png') }}" height="30" width="30" title="Modifier"/>
                    </a>
                    {% if(category.getId() not in listCategoriesDeletable) %}
                        <a href="{{ path('admin_category_delete', { 'id': category.getId()}) }}">
                            <img class="buttonIconBin" src="{{ asset('/ressources/images/IconBin.png') }}" height="30" width="30" title="Supprimer"/>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}
