{% extends 'base.html.twig' %}

{% block title %}Liste annonces{% endblock %}

{% block headerButtons %}
    <div class="blockButton">
        <a href="{{ path('admin_index') }}"><button>Liste des annonces (admin)</button></a>
        <a href="{{ path('admin_category_add') }}"><button>Ajouter une cat&eacute;gorie (admin)</button></a>
    </div>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Libell&eacute;</th>
            <th>Actions</th>
        </tr>
        {% for category in pager.currentPageResults %}
            <tr>
                <td>{{ category.getId() }}</td>
                <td>{{ category.getName() }}</td>
                <td>
                    <a href="{{ path('admin_category_edit', { 'id': category.getId()}) }}"><button>Modifier</button></a>
                    {% if(category.getId() not in listCategoriesDeletable) %}
                        <a href="{{ path('admin_category_delete', { 'id': category.getId()}) }}"><button>Supprimer</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}
