{% extends 'base.html.twig' %}

{% block title %}
    {% if(ajout) %}
        Ajout d'un administrateur
    {% else %}
        Modification d'un administrateur
    {% endif %}
{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_users') }}">
        <img class="buttonIconReturn" src="{{ asset('/ressources/images/IconReturn.png') }}" height="63" width="63" title="Retour"/>
    </a>
{% endblock %}

{% block content %}
    <div class="formAddEditAdminUser">
        {{ form_start(form) }}
            {{ form_label(form.username) }}
            {{ form_widget(form.username) }}
            <hr width="100%"/>
            {{ form_label(form.email) }}
            {{ form_widget(form.email) }}
            <hr width="100%"/>
            {{ form_label(form.plainPassword) }}
            {{ form_widget(form.plainPassword) }}

            {{ form_rest(form) }}
            <hr width="100%"/>
            <button type="submit">
                {% if(ajout) %}
                    Ajouter
                {% else %}
                    Enregistrer
                {% endif %}
            </button>
        {{ form_end(form) }}
    <div>
{% endblock %}
