{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_users_add') }}">
        <img class="buttonIconAdd" src="{{ asset('/ressources/images/IconAdd.png') }}" height="63" width="63" title="Ajouter un administrateur"/>
    </a>
{% endblock %}

{% block content %}
    <table>
        <thead>
            <tr>
                <th>id</th>
                <th>Nom d'utilisateur</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        {% for adminUser in listAdminUsers %}
            <tr>
                <td>{{ adminUser.getId() }}</td>
                <td>{{ adminUser.getUsername() }}</td>
                <td>{{ adminUser.getEmail() }}</td>
                <td>
                    <a href="{{ path('admin_users_edit', {'id': adminUser.getId()}) }}">
                        <img class="ButtonIconEdit" src="{{ asset('/ressources/images/IconEdit.png') }}" height="30" width="30" title="Modifier"/>
                    </a>
                    {% if app.user.email != adminUser.email %}
                        <a href="{{ path('admin_users_delete', {'id': adminUser.getId()}) }}">
                            <img class="buttonIconBin" src="{{ asset('/ressources/images/IconBin.png') }}" height="30" width="30" title="Supprimer"/>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
