{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateur{% endblock %}

{% block headerButtons %}
    <div class="blockButton">
        <a href="{{ path('admin_index') }}"><button>Liste des annonces</button></a>
        <a href="{{ path('admin_users_add') }}"><button>Ajouter un administrateur</button></a>
    </div>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Nom d'utilisateur</th>
            <th>Email</th>
            <th>Actions</th>
        </tr>
        {% for adminUser in listAdminUsers %}
            <tr>
                <td>{{ adminUser.getId() }}</td>
                <td>{{ adminUser.getUsername() }}</td>
                <td>{{ adminUser.getEmail() }}</td>
                <td>
                    <a href="{{ path('admin_users_edit', {'id': adminUser.getId()}) }}">
                        <img src="{{ asset('/ressources/images/IconEdit.png') }}" height="30" width="30"/>
                    </a>
                    {% if app.user.email != adminUser.email %}
                        <a href="{{ path('admin_users_delete', {'id': adminUser.getId()}) }}">
                            <img src="{{ asset('/ressources/images/IconBin.png') }}" height="30" width="30"/>
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
