<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link href="{{ asset('css/global.css') }}" rel="stylesheet"/>
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="logoLeBonAngle">
                <a href="{{ path('index') }}">
                    <img src="{{ asset('/ressources/images/LogoLeBonAngle.png') }}" height="100"/>
                </a>
            </div>

            <div>{% block headerButtons %}{% endblock %}</div>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <a href="{{ path('admin_index') }}">
                    <div class="buttonIconAdminIndex">
                        <img src="{{ asset('/ressources/images/IconedminIndex.png') }}" height="63" width="63" title="Liste des annonces"/>
                    </div>
                </a>
                <a href="{{ path('admin_category_index') }}">
                    <div class="buttonIconCategory">
                        <img src="{{ asset('/ressources/images/IconCategory.png') }}" height="63" width="63" title="Liste des cat&eacute;gories"/>
                    </div>
                </a>
                <a href="{{ path('admin_users') }}">
                    <div class="buttonIconAdminList">
                        <img src="{{ asset('/ressources/images/IconAdmin.png') }}" height="63" width="63" title="Liste des administrateurs"/>
                    </div>
                </a>
                <a href="{{ path('admin_logout') }}">
                    <div class="buttonLoginLogout">
                        <img src="{{ asset('/ressources/images/IconLogout.png') }}" height="63" width="63" title="Se d&eacute;connecter"/>
                    </div>
                </a>
                <div class="userName">
                    <img src="{{ asset('/ressources/images/IconUserConnected.png') }}" height="14" width="14"/> {{ app.user.username }} | {{ app.user.email }}
                </div>
            {% else %}
                <a href="{{ path('admin_login') }}">
                    <div class="buttonLoginLogout">
                        <img src="{{ asset('/ressources/images/IconLogin.png') }}" height="63" width="63" title="Se connecter en administrateur"/>
                    </div>
                </a>
            {% endif %}
        </header>

        {% block content %}{% endblock %}
    </body>
</html>
