{% extends 'base.html.twig' %}

{% block title %}Ajout{% endblock %}

{% block headerButtons %}
    <a href="{{ path('index') }}">
        <img class="buttonIconReturn" src="{{ asset('/ressources/images/IconReturn.png') }}" height="63" width="63" title="Retour"/>
    </a>
{% endblock %}

{% block content %}
    <div class="formAddAdvert">
        {{ form_start(form) }}
            Titre
            {{ form_widget(form.title) }}
            <hr width="100%"/>
            Contenu
            {{ form_widget(form.content) }}
            <hr width="100%"/>
            Cat&eacute;gorie
            {{ form_widget(form.category) }}
            <hr width="100%"/>
            Auteur
            {{ form_widget(form.author) }}
            <hr width="100%"/>
            Email
            {{ form_widget(form.email) }}
            <hr width="100%"/>
            Prix
            {{ form_widget(form.price) }}
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

            {{ form_rest(form) }}
            <hr width="100%"/>
            <button type="submit">Ajouter</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
