{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <a href="{{ path('admin_index') }}"><button>Liste des annonces (admin)</button></a>

    <table>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Date de cr&eacute;ation</th>
            <th>Actions</th>
        </tr>
        {% for advertDraft in listAdvertsDraft %}
            <tr>
                <td>{{ advertDraft.getTitle() }}</td>
                <td>{{ advertDraft.getContent() }}</td>
                <td>{{ advertDraft.getCategory().getName() }}</td>
                <td>{{ advertDraft.getAuthor() }}</td>
                <td>{{ advertDraft.getEmail() }}</td>
                <td>{{ advertDraft.getPrice() }}</td>
                <td>{{ advertDraft.getCreatedAt|date("Y-m-d H:i:s") }}</td>
                <td>
                    <a href="{{ path('admin_advertvalidation_validate', { 'id': advertDraft.getId()}) }}"><button>Valider</button></a>
                    <a href="{{ path('admin_advertvalidation_reject', { 'id': advertDraft.getId()}) }}"><button>Rejeter</button></a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}