{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <a href="{{ path('index') }}"><button>Menu principal</button></a>
    <a href="{{ path('admin_advert_list_draft') }}"><button>V&eacute;rifier les nouvelles annonces (admin)</button></a>
    <a href="{{ path('admin_advert_list_published') }}"><button>Voir les annonces publi&eacute;es (admin)</button></a>
    <a href="{{ path('admin_advert_list_rejected') }}"><button>voir les annonces rejet&eacute;es (admin)</button></a>
    <a href="{{ path('admin_category_index') }}"><button>Voir les cat&eacute;gories (admin)</button></a>
    <a href="{{ path('admin_users') }}"><button>Voir les administrateurs (admin)</button></a>

    <form action="{{ path('admin_index') }}" method="post">
        <select name="category">
            <option value="">S&eacute;lectionner une cat&eacute;gorie</option>
            {% for category in listCategoriesWithAdverts %}
                <option value="{{ category.getId() }}">{{ category.getName() }}</option>
            {% endfor %}
        </select>
        <button type="submit">Rechercher par cat&eacute;gorie</button>
    </form>

    <table>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Etat</th>
            <th>Date de cr&eacute;ation</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
        {% for advert in pager.currentPageResults  %}
            <tr>
                <td>{{ advert.getId() }}</td>
                <td>{{ advert.getTitle() }}</td>
                <td>{{ advert.getContent() }}</td>
                <td>{{ advert.getCategory().getName() }}</td>
                <td>{{ advert.getAuthor() }}</td>
                <td>{{ advert.getEmail() }}</td>
                <td>{{ advert.getPrice() }}</td>
                <td>{{ advert.getState() }}</td>
                <td>{{ advert.getCreatedAt()|date("d-m-Y H:i:s") }}</td>
                <td>{{ advert.getPublishedAt() is empty ? "" : advert.getPublishedAt|date("d-m-Y H:i:s") }}</td>
                <td><a href="{{ path('admin_show', {'id': advert.getId()}) }}"><button>Voir</button></a></td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}