{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block headerButtons %}
    <div class="blockButton">
        <a href="{{ path('admin_advert_list_draft') }}"><button>V&eacute;rifier les nouvelles annonces</button></a>
        <a href="{{ path('admin_advert_list_published') }}"><button>Voir les annonces publi&eacute;es</button></a>
        <a href="{{ path('admin_advert_list_rejected') }}"><button>Voir les annonces rejet&eacute;es</button></a>
    </div>
    <div class="blockButton">
        <a href="{{ path('admin_category_index') }}"><button>Voir les cat&eacute;gories</button></a>
    </div>
    <div class="blockButton">
        <a href="{{ path('admin_users') }}"><button>Voir les administrateurs</button></a>
    </div>
{% endblock %}

{% block content %}
    <div class="formSortByCategory">
        <form action="{{ path('admin_index') }}" method="post" onsubmit="redirect();return false;">
            <select name="category">
                <option value="">Triez par cat&eacute;gorie</option>
                {% for category in listCategoriesWithAdverts %}
                    <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                {% endfor %}
            </select>
            <input type="image" src="{{ asset('/ressources/images/IconSearch.png') }}" alt="Submit" name="submit" width="20px" />
        </form>
    </div>

    <table>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Etat</th>
            <th>Date de cr&eacute;ation</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
        {% for advert in pager.currentPageResults  %}
            <tr>
                <td>{{ advert.getId() }}</td>
                <td>{{ advert.getTitle()|length > 35 ? advert.getTitle()|slice(0, 35) ~ '...' : advert.getTitle() }}</td>
                <td>{{ advert.getContent()|length > 35 ? advert.getContent()|slice(0, 35) ~ '...' : advert.getContent() }}</td>
                <td>{{ advert.getCategory().getName()|length > 35 ? advert.getCategory().getName()|slice(0, 35) ~ '...' : advert.getCategory().getName() }}</td>
                <td>{{ advert.getAuthor()|length > 35 ? advert.getAuthor()|slice(0, 35) ~ '...' : advert.getAuthor() }}</td>
                <td>{{ advert.getEmail()|length > 35 ? advert.getEmail()|slice(0, 35) ~ '...' : advert.getEmail() }}</td>
                <td>{{ advert.getPrice() }}</td>
                <td>{{ advert.getState() }}</td>
                <td>{{ advert.getCreatedAt()|date("d-m-Y H:i:s") }}</td>
                <td>{{ advert.getPublishedAt()|date("d-m-Y H:i:s") }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': advert.getId()}) }}">
                        <img class="buttonIconShow" src="{{ asset('/ressources/images/IconShow.png') }}" height="30" width="30" title="Consulter"/>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}