{% extends 'base.html.twig' %}

{% block title %}
    {% if advertSate == 'draft' %}
        Liste des annonces &agrave; valider
    {% elseif advertSate == 'published' %}
        Liste des annonces publi&eacute;es
    {% else %}
        Liste des annonces rejet&eacute;es
    {% endif %}
{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_index') }}"><button>Liste des annonces (admin)</button></a>
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>id</th>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Date de cr&eacute;ation</th>
            <th>Actions</th>
        </tr>
        {% for advert in pager.currentPageResults %}
            <tr>
                <td>{{ advert.getId() }}</td>
                <td>{{ advert.getTitle() }}</td>
                <td>{{ advert.getContent() }}</td>
                <td>{{ advert.getCategory().getName() }}</td>
                <td>{{ advert.getAuthor() }}</td>
                <td>{{ advert.getEmail() }}</td>
                <td>{{ advert.getPrice() }}</td>
                <td>{{ advert.getCreatedAt()|date("d-m-Y H:i:s") }}</td>
                <td>
                    <a href="{{ path('admin_show', {'id': advert.getId()}) }}"><button>Voir</button></a>
                    {% if advertSate == 'draft' %}
                        <a href="{{ path('admin_advertvalidation_validate', {'id': advert.getId(), 'view': advertSate}) }}"><button>Publier</button></a>
                        <a href="{{ path('admin_advertvalidation_reject', {'id': advert.getId(), 'view': advertSate}) }}"><button>Rejeter</button></a>
                    {% elseif advertSate == 'published' %}
                        <a href="{{ path('admin_advertvalidation_reject', {'id': advert.getId(), 'view': advertSate}) }}"><button>Rejeter</button></a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}