{% extends 'base.html.twig' %}

{% block title %}Liste des annonces par cat&eacute;gorie{% endblock %}

{% block headerButtons %}
    <a href="{{ path('admin_index') }}">
        <img class="buttonIconReturn" src="{{ asset('/ressources/images/IconReturn.png') }}" height="63" width="63" title="Retour"/>
    </a>
{% endblock %}

{% block content %}
    <div class="formSortByCategory">
        <form action="{{ path('admin_index') }}" method="post" onsubmit="redirect();return false;">
            <select name="category" required>
                <option value="">Triez par cat&eacute;gorie</option>
                {% for category in listCategoriesWithAdverts %}
                    <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                {% endfor %}
            </select>
            <input type="image" src="{{ asset('/ressources/images/IconSearch.png') }}" alt="Submit" name="submit" width="20px" title="trier"/>
        </form>
    </div>

    {% if(pager.currentPageResults != null) %}
        <table>
            <tr>
                <th>id</th>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Cat&eacute;gorie</th>
                <th>Auteur</th>
                <th>Email</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Date de cr&eacute;ation</th>
                <th>Date de publication</th>
                <th>Actions</th>
            </tr>
            {% for advert in pager.currentPageResults %}
                <tr>
                    <td>{{ advert.getId() }}</td>
                    <td>{{ advert.getTitle() }}</td>
                    <td>{{ advert.getContent() }}</td>
                    <td>{{ advert.getCategory().getName() }}</td>
                    <td>{{ advert.getAuthor() }}</td>
                    <td>{{ advert.getEmail() }}</td>
                    <td>{{ advert.getPrice() }}</td>
                    <td>{{ advert.getState() }}</td>
                    <td>{{ advert.getCreatedAt()|date("d-m-Y H:i:s") }}</td>
                    <td>{{ advert.getPublishedAt() is empty ? "" : advert.getPublishedAt|date("d-m-Y H:i:s") }}</td>
                    <td>
                        <a href="{{ path('admin_show', {'id': advert.getId()}) }}">
                            <img class="buttonIconShow" src="{{ asset('/ressources/images/IconShow.png') }}" height="30" width="30" title="Consulter"/>
                        </a>
                        {% if advert.getState() == 'draft' %}
                            <a href="{{ path('admin_advertvalidation_validate', {'id': advert.getId(), 'view': advert.getCategory().getId()}) }}">
                                <img class="buttonIconOk" src="{{ asset('/ressources/images/IconOk.png') }}" height="30" width="30" title="Publier"/>
                            </a>
                            <a href="{{ path('admin_advertvalidation_reject', {'id': advert.getId(), 'view': advert.getCategory().getId()}) }}">
                                <img class="buttonIconBin" src="{{ asset('/ressources/images/IconBin.png') }}" height="30" width="30" title="Rejeter"/>
                            </a>
                        {% elseif advert.getState() == 'published' %}
                            <a href="{{ path('admin_advertvalidation_reject', {'id': advert.getId(), 'view': advert.getCategory().getId()}) }}">
                                <img class="buttonIconBin" src="{{ asset('/ressources/images/IconBin.png') }}" height="30" width="30" title="Rejeter"/>
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager) }}
        {% endif %}
    {% endif %}
{% endblock %}
