{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block body %}
    <a href="{{ path('add_advert') }}"><button>Ajouter une annonce</button></a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('admin_index') }}"><button>Acc&eacute;der &agrave; la partie administration</button></a>
    {% else %}
        <a href="{{ path('admin_login') }}"><button>Se connecter en administrateur</button></a>
    {% endif %}

    <table>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Etat</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
        {% for advertPublished in listAdvertsPublished %}
            <tr>
                <td>{{ advertPublished.getTitle() }}</td>
                <td>{{ advertPublished.getContent() }}</td>
                <td>{{ advertPublished.getCategory().getName() }}</td>
                <td>{{ advertPublished.getAuthor() }}</td>
                <td>{{ advertPublished.getEmail() }}</td>
                <td>{{ advertPublished.getPrice() }}</td>
                <td>{{ advertPublished.getState() }}</td>
                <td>{{ advertPublished.getPublishedAt()|date("d-m-Y H:i:s") }}</td>
                <td><a href="{{ path('show', {'id': advertPublished.getId()}) }}"><button>Voir</button></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
