{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block header %}
    <a href="{{ path('add_advert') }}"><button>Ajouter une annonce</button></a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('admin_index') }}"><button>Acc&eacute;der &agrave; la partie administration</button></a>
    {% else %}
        <a href="{{ path('admin_login') }}"><button>Se connecter en administrateur</button></a>
    {% endif %}
{% endblock %}

{% block content %}

    <div class="formSortByCategory">
        <form action="{{ path('index') }}" method="post">
            <select name="category" required>
                <option value="">S&eacute;lectionner une cat&eacute;gorie</option>
                {% for category in listCategoriesWithPublishedAdverts %}
                    <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                {% endfor %}
            </select>
            <button type="submit">Rechercher par cat&eacute;gorie</button>
        </form>
    </div>

    <table>
        <tr>
            <th>Titre</th>
            <th>Contenu</th>
            <th>Cat&eacute;gorie</th>
            <th>Auteur</th>
            <th>Email</th>
            <th>Prix</th>
            <th>Etat</th>
            <th>Date de publication</th>
            <th>Actions</th>
        </tr>
        {% for advertPublished in pager.currentPageResults  %}
            <tr>
                <td>{{ advertPublished.getTitle()|length > 35 ? advertPublished.getTitle()|slice(0, 35) ~ '...' : advertPublished.getTitle() }}</td>
                <td>{{ advertPublished.getContent()|length > 35 ? advertPublished.getContent()|slice(0, 35) ~ '...' : advertPublished.getContent() }}</td>
                <td>{{ advertPublished.getCategory().getName()|length > 35 ? advertPublished.getCategory().getName()|slice(0, 35) ~ '...' : advertPublished.getCategory().getName() }}</td>
                <td>{{ advertPublished.getAuthor()|length > 35 ? advertPublished.getAuthor()|slice(0, 35) ~ '...' : advertPublished.getAuthor() }}</td>
                <td>{{ advertPublished.getEmail()|length > 35 ? advertPublished.getEmail()|slice(0, 35) ~ '...' : advertPublished.getEmail() }}</td>
                <td>{{ advertPublished.getPrice() }}</td>
                <td>{{ advertPublished.getState() }}</td>
                <td>{{ advertPublished.getPublishedAt()|date("d-m-Y H:i:s") }}</td>
                <td><a href="{{ path('show', {'id': advertPublished.getId()}) }}"><button>Voir</button></a></td>
            </tr>
        {% endfor %}
    </table>
    {% if pager.haveToPaginate %}
        {{ pagerfanta(pager) }}
    {% endif %}
{% endblock %}
