{% extends 'base.html.twig' %}

{% block title %}Liste des annonces{% endblock %}

{% block headerButtons %}
    <div class="blockButton">
        <a href="{{ path('index') }}"><button>Menu principal</button></a>
    </div>
{% endblock %}

{% block content %}

    <div class="formSortByCategory">
        <form action="{{ path('index') }}" method="post">
            <select name="category" required>
                <option value="">S&eacute;lectionner une cat&eacute;gorie</option>
                {% for category in listCategoriesWithPublishedAdverts %}
                    <option value="{{ category.getId() }}">{{ category.getName() }}</option>
                {% endfor %}
            </select>
            <button type="submit">Rechercher par cat&eacute;gorie</button>
        </form>
    </div>

    {% if(pager.currentPageResults != null) %}
        <table>
            <tr>
                <th>Titre</th>
                <th>Contenu</th>
                <th>Cat&eacute;gorie</th>
                <th>Auteur</th>
                <th>Email</th>
                <th>Prix</th>
                <th>Etat</th>
                <th>Date de publication</th>
                <th>Actions</th>
            </tr>
            {% for advert in pager.currentPageResults  %}
                <tr>
                    <td>{{ advert.getTitle()|length > 35 ? advert.getTitle()|slice(0, 35) ~ '...' : advert.getTitle() }}</td>
                    <td>{{ advert.getContent()|length > 35 ? advert.getContent()|slice(0, 35) ~ '...' : advert.getContent() }}</td>
                    <td>{{ advert.getCategory().getName()|length > 35 ? advert.getCategory().getName()|slice(0, 35) ~ '...' : advert.getCategory().getName() }}</td>
                    <td>{{ advert.getAuthor()|length > 35 ? advert.getAuthor()|slice(0, 35) ~ '...' : advert.getAuthor() }}</td>
                    <td>{{ advert.getEmail()|length > 35 ? advert.getEmail()|slice(0, 35) ~ '...' : advert.getEmail() }}</td>
                    <td>{{ advert.getPrice() }}</td>
                    <td>{{ advert.getState() }}</td>
                    <td>{{ advert.getPublishedAt()|date("d-m-Y H:i:s") }}</td>
                    <td>
                        <a href="{{ path('show', {'id': advert.getId()}) }}">
                            <img src="{{ asset('/ressources/images/IconShow.png') }}" height="30" width="30"/>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </table>
        {% if pager.haveToPaginate %}
            {{ pagerfanta(pager) }}
        {% endif %}
    {% endif %}
{% endblock %}
